.work-station {

    --transition: all 1.5s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin-top: 0;
    perspective: 3000px;
    perspective-origin: 50% 50%;
}

/* STYLES FOR LOCK-SCREEN */

.lock-screen,
.desktop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    background-image: url(../assets/lock-screen-bg/lock-screen.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem 2rem 0.5rem 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-out;
}

.lock-screen-display {
    opacity: 1;
    visibility: visible;
    transition: all 1s ease-in;
    transition-delay: 14s;
    animation:
        lock-screen-disappear 2s ease-out 18s forwards,
        lock-screen-blur 1s ease-in 20s forwards;
}

.lock-screen-disappear {
    opacity: 0;
    visibility: hidden;
    transition: all 0.75s ease-out 0.25s;
}

@keyframes lock-screen-disappear {
    100% {
        opacity: 0;
    }
}

@keyframes lock-screen-blur {
    100% {
        opacity: 1;
        filter: blur(10px);
    }
}

/* STYLES FOR lOCK SCREEN DATE AND TIME */

.current-time-date {
    position: relative;
    top: 60%;
    left: 7%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    height: 4rem;
    color: hsl(0 0% 100%);
    transition: all 1s ease-out;
}

.current-time-date-top {
    animation:
        current-time-date-top .5s ease-in 18s forwards,
        lock-screen-disppear 2s ease-out 18s forwards,
        lock-screen-disappear 2s ease-out 19.5s forwards;
}

@keyframes current-time-date-top {
    100% {
        transform: translateY(-8.5rem);
    }
}

.current-time-date .time {
    font-size: 3.5rem;
    margin-bottom: -0.75rem;
}

.current-time-date .date {
    font-size: 1.75rem;
}

/* STYLES FOR lOCK SCREEN DATE AND TIME */

/* STYLES FOR ADMIN PROFILE */

.admin-profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    width: 100%;
    height: 100%;
    color: hsl(0 0% 100%);
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-out;
}

.admin-profile-display {
    opacity: 1;
    visibility: visible;
    transition: all 1s ease-in 20s;
}

.admin-profile-disappear {
    opacity: 0;
    visibility: hidden;
    transition: all 0.75s ease-out 0.25s;
}

.admin-profile img {
    width: 6rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.admin-profile .admin-name {
    font-size: 1.5rem;
}

.admin-profile .admin-password {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.25rem;
}

.admin-profile .admin-password input {
    height: 2rem;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.25rem;
}

.admin-profile .admin-password i {
    font-size: 1.25rem;
    background-color: hsl(0 0% 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
}

.admin-profile .password-incorrect {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    cursor: default;
}

.admin-profile button {
    margin-top: 0.5rem;
    border: 0;
    outline: 0;
    background-color: #0078D7;
    width: 7rem;
    padding: 0.75rem;
    border: 2px solid hsl(0 0% 100%);
    cursor: default;
}

.admin-profile small {
    font-size: 1rem;
    cursor: default;
}

/* STYLES FOR ADMIN PROFILE */

/* STYLES FOR DESKTOP */

.desktop {
    transform: translate(-50%, -50%) scaleY(0.795) scaleX(0.888);
    /* width: 88.75%; */
    width: 100%;
    /* height: 80.25%; */
    height: 100%;
    background-image: url(../assets/desktop-backgrounds/desktop-bg.png);
    /* background-image: url(../assets/admin/admin-image.jpg); */
    background-size: cover;
    /* background-position: 2rem 5%; */
    border-radius: 0;
    opacity: 0;
    visibility: hidden;
    /* opacity: 1 !important;
    visibility: visible !important; */
    overflow: hidden;
    cursor: default;
    transition: all 1s ease-out;
}

.desktop-display {
    opacity: 1;
    visibility: visible;
    transition: all 1s ease-in 1s;
}

/* STYLES FOR DESKTOP TASKBAR */

.taskbar {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    background: rgba(0, 0, 0, 0.7);
    /* box-shadow: 0 0 0.1rem hsl(0 0% 0%); */
}

.taskbar .taskbar-left-side,
.taskbar .taskbar-right-side {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    height: 100%;
}

.taskbar .taskbar-left-side i:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 35px;
    font-size: 1rem;
}

.taskbar .taskbar-left-side i:nth-child(1):hover {
    background: rgba(122, 117, 116, 0.3);
    color: #0078d7;
}

.taskbar .taskbar-left-side .taskbar-search-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 35px;
    margin-top: 0.1rem;
    margin-left: -1rem;
    background-color: hsl(0 0% 100%);
}

.taskbar .taskbar-left-side .taskbar-search-area img {
    width: 1rem;
    height: 1rem;
    margin-top: 0.15rem;
    margin-left: 0.1rem;
}

.taskbar .taskbar-left-side .taskbar-search-area input {
    height: 100%;
    width: 100%;
    padding: 0.25rem;
    border: 0;
    outline: 0;
    font-size: 1.25rem;
    background: transparent;
}

.taskbar .taskbar-left-side .taskbar-search-area input::placeholder {
    font-size: 0.95rem;
}

.taskbar .taskbar-left-side .taskbar-search-area:hover {
    outline: 1px solid #0078d7;
}

.taskbar .taskbar-icon {
    font-size: 1.5rem;
    color: hsl(0 0% 100%);
}

.taskbar .taskbar-left-side img:not(.taskbar-search-area img) {
    width: 40px;
    height: 40px;
    margin-left: -1rem;
}

.taskbar .taskbar-left-side img:hover:not(.taskbar-search-area img:hover),
.taskbar .taskbar-right-side img:hover {
    background: rgba(122, 117, 116, 0.3);
}

.taskbar .taskbar-left-side .start-icon-text,
.taskbar .taskbar-left-side .task-view-text,
.taskbar .taskbar-right-side .show-hidden-icons-text,
.taskbar .taskbar-right-side .google-drive-text,
.taskbar .taskbar-right-side .one-drive-text,
.taskbar .taskbar-right-side .synaptics-pointing-device-text,
.taskbar .taskbar-right-side .windows-security-text,
.taskbar .taskbar-right-side .audio-control-text,
.taskbar .taskbar-right-side .meet-now-text,
.taskbar .taskbar-right-side .charging-text,
.taskbar .taskbar-right-side .wifi-text,
.taskbar .taskbar-right-side .volume-text,
.taskbar .taskbar-right-side .messages-notification-text {
    position: absolute;
    top: -25%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 0.2rem;
    background-color: hsl(0 0% 100%);
    box-shadow: 0 0 3px 0 hsl(0 0% 0%);
    text-wrap: nowrap;
    font-size: 0.75rem;
    opacity: 0;
    visibility: hidden;
    transition: all .1s ease-out;
    cursor: default;
}

.taskbar .taskbar-left-side .start-icon-text {
    left: 3.52%;
}

.taskbar .taskbar-left-side .start-icon:hover~.start-icon-text,
.taskbar .taskbar-left-side img:hover:not(.taskbar-search-area img:hover)~.task-view-text,
.taskbar .taskbar-right-side .show-hidden-icons:hover~.show-hidden-icons-text,
.taskbar .taskbar-right-side .google-drive:hover~.google-drive-text,
.taskbar .taskbar-right-side .one-drive:hover~.one-drive-text,
.taskbar .taskbar-right-side .synaptics-pointing-device:hover~.synaptics-pointing-device-text,
.taskbar .taskbar-right-side .windows-security:hover~.windows-security-text,
.taskbar .taskbar-right-side .audio-control:hover~.audio-control-text,
.taskbar .taskbar-right-side .meet-now:hover~.meet-now-text,
.taskbar .taskbar-right-side .charging:hover~.charging-text,
.taskbar .taskbar-right-side .wifi:hover~.wifi-text,
.taskbar .taskbar-right-side .volume:hover~.volume-text,
.taskbar .taskbar-right-side .messages:hover~.messages-notification-text {
    opacity: 1;
    visibility: visible;
    transition: all .1s ease-in;
    transition-delay: 0.5s;
}

.taskbar .taskbar-right-side {
    justify-content: center;
    gap: 0;
}

.taskbar .taskbar-right-side img {
    width: 35px;
    height: 35px;
}

.taskbar .taskbar-right-side .show-hidden-icons {
    margin-top: 0.25rem;
    height: 52px;
}

.taskbar .taskbar-right-side .audio-control {
    margin-top: 0.5rem;
    height: 56px;
}

.taskbar .taskbar-right-side .volume {
    padding-top: 0.25rem;
    height: 35px;
}

.taskbar .taskbar-right-side .show-hidden-icons-text {
    top: 5%;
    left: 65%;
}

.taskbar .taskbar-right-side .google-drive-text {
    top: 25%;
    left: 59%;
}

.taskbar .taskbar-right-side .one-drive-text {
    top: 20%;
    left: 64.5%;
}

.taskbar .taskbar-right-side .synaptics-pointing-device-text {
    top: 20%;
    left: 70.25%;
}

.taskbar .taskbar-right-side .windows-security-text {
    top: 20%;
    left: 80.5%;
}

.taskbar .taskbar-right-side .audio-control-text {
    top: 20%;
    left: 77.25%;
}

.taskbar .taskbar-right-side .meet-now-text {
    top: 20%;
    left: 75.25%;
}

.taskbar .taskbar-right-side .charging-text {
    top: 10%;
    left: 78%;
}

.taskbar .taskbar-right-side .wifi-text {
    top: -5%;
    left: 79%;
}

.taskbar .taskbar-right-side .volume-text {
    top: 10%;
    left: 85%;
}

/* STYLES FOR TASK BAR DATE AND TIME */

.task-bar-time-date {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 0.5rem;
    color: hsl(0 0% 100%);
    font-size: 0.7rem;
    transition: all 1s ease-in-out;
    cursor: default;
}

/* STYLES FOR TASK BAR DATE AND TIME */

.taskbar .taskbar-right-side .messages {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-size: 1.25rem;
    padding: 0.85rem;
    z-index: 1;
}

.taskbar .taskbar-right-side .messages:hover {
    background: rgba(122, 117, 116, 0.3);
}

.taskbar .taskbar-right-side .messages-text {
    position: absolute;
    bottom: -22%;
    right: 0;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    width: 1.1rem;
    height: 1.1rem;
    background-color: rgba(0, 0, 0, 0.445);
    color: hsl(0 0% 100%);
    border: 1px solid hsl(0 0% 100%);
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    cursor: default;
    z-index: 2;
}

.taskbar .taskbar-right-side .messages-notification-text {
    position: absolute;
    top: -1rem;
    left: 85%;
    color: hsl(0 0% 0%);
}

/* STYLES FOR DESKTOP TASKBAR */

/* STYLES FOR DESKTOP ICONS */

.desktop-icons {
    position: absolute;
    top: 44%;
    left: 23%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    /* flex-wrap: wrap; */
    /* z-index: -1; */
    z-index: -1;
    /* opacity: 0; */
}

.desktop-icons .desktop-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
}

/* .desktop-icons .desktop-icon:nth-child(2),
.desktop-icons .desktop-icon:nth-child(4),
.desktop-icons .desktop-icon:nth-child(6),
.desktop-icons .desktop-icon:nth-child(8) {
    margin-left: -0.5rem;
} */

.desktop-icons .desktop-icon:hover {
    background-color: rgba(173, 216, 230, 0.5);
}

.desktop-icons .desktop-icon img {
    width: 3.5rem;
    height: 3.5rem;
}

.desktop-icons .desktop-icon:nth-child(1) img {
    margin-left: -1.5rem;
}

.desktop-icons .desktop-icon .desktop-icon-text {
    text-wrap: nowrap;
    font-size: 0.8rem;
    margin-left: 0.25rem;
    text-align: center;
    cursor: default;
}

/* STYLES FOR DESKTOP ICONS */

/* STYLES FOR DESKTOP START FUNCTIONALITY */

.start-section {
    position: fixed;
    top: 10%;
    left: 0;
    transform: translateY(100%);
    width: 450px;
    height: 255px;
    background: linear-gradient(360deg, #4C4A48, #4C4A44);
    color: hsl(0, 0%, 100%);
    cursor: default;
    overflow: hidden;
    transition: transform 0.1s ease-out;
    opacity: 0;
    visibility: hidden;
}

.fade-up {
    animation: fade-up 0.2s ease-in 0.1s forwards;
}

@keyframes fade-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
        visibility: hidden;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }
}

.recently-added,
.productivity {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 215px;
    height: 100%;
    /* background: #4C4A48; */
    color: hsl(0, 0%, 100%);
    cursor: default;
    overflow-x: hidden;
    overflow-y: auto;
}

.productivity {
    left: 48%;
    width: 215px;
}

.productivity-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.2rem;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
}

.productivity-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.2rem;
    width: 4.15rem;
    height: 4.5rem;
    background: rgba(122, 117, 116, 0.35);
    color: hsl(0, 0%, 100%);
    cursor: default;
}

.games-boxes {
    margin-bottom: 2rem;
}

.productivity-box img {
    width: 60px;
    height: 35px;
}

.productivity-box.character img {
    margin-left: 0.4rem;
}

/* .jacketAnimation img {
    width: 100px;
    height: 55px;
}

.television img {
    margin-left: -0.5rem;
    width: 85px;
}

.coffeeMug img {
    margin-left: -0.5rem;
    width: 90px;
}

.character img {
    margin-left: 0.75rem;
    width: 125px;
}

.prisoner img {
    margin-left: 0;
    width: 125px;
} */

.productivity-box .productivity-box-text {
    text-align: center;
    font-size: 0.7rem;
}

.productivity-box:hover {
    border: 2px solid hsl(0 0% 75%);
    background: rgba(122, 117, 116, 0.6);
}

.recently-added::-webkit-scrollbar,
.productivity::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}

.recently-added::-webkit-scrollbar-thumb,
.productivity::-webkit-scrollbar-thumb {
    background: #979390;
    transition: background-color 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.recently-added::-webkit-scrollbar-thumb:hover,
.productivity::-webkit-scrollbar-thumb:hover {
    background: #c4beba;
    transition: background-color 0.3s ease;
}

.recently-added:hover::-webkit-scrollbar-thumb,
.productivity:hover::-webkit-scrollbar-thumb {
    opacity: 1;
    visibility: visible;
}

.recently-added::-webkit-scrollbar-track,
.productivity::-webkit-scrollbar-track {
    background: transparent;
}

.recently-added h4,
.productivity h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding: 0.5rem;
    margin-top: 0.35rem;
    /* margin-left: 0.5rem; */
    font-weight: 400;
}

.productivity h4 {
    text-wrap: nowrap;
    /* margin-top: -0.1rem; */
    margin-left: 0;
    padding-right: 40%;
}

.productivity .games {
    padding-right: 72%;
}

.recently-added h4:hover {
    background: rgba(122, 117, 116, 0.3);
}

.recently-added-google-drive,
.recently-added-project {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    padding: 1rem;
    margin-left: 2.8rem;
}

.recently-added-google-drive:hover,
.recently-added-project:hover {
    background: rgba(122, 117, 116, 0.3);
}

.suggested {
    margin-top: 0 !important;
    padding-right: 2.9rem !important;
}

.sort-c,
.sort-g,
.sort-p,
.sort-t {
    margin-top: 0 !important;
    padding-right: 6.5rem !important;
}

.recently-added-google-drive img,
.recently-added-project img {
    width: 50px;
    height: 35px;
}

/* .bugatti img {
    margin-left: -0.4rem;
} */

.bugatti .recently-added-project-text {
    margin-left: 0.45rem;
}

.calculator img {
    width: 100px;
    height: 100px;
    margin-left: -1.25rem;
}

.calculator .recently-added-project-text {
    margin-left: -1.5rem;
}

.clock img {
    width: 30px;
    height: 30px;
    margin-left: 1rem;
}

.clock .recently-added-project-text,
.google-chrome .recently-added-project-text {
    margin-left: 0.65rem;
}

.google-chrome img {
    width: 30px;
    height: 30px;
    margin-left: 1rem;
}

.photos img {
    width: 65px;
    height: 65px;
    margin-left: 0;
}

.photos .recently-added-project-text {
    margin-left: -0.3rem;
}

.paint img {
    width: 38px;
    height: 38px;
    margin-left: 1rem;
}

.paint .recently-added-project-text {
    margin-left: 0.45rem;
}

.todo {
    margin-bottom: 2rem;
}

.todo img {
    width: 35px;
    height: 35px;
    margin-left: 1rem;
}

.todo .recently-added-project-text {
    margin-left: 0.6rem;
}

aside.start-aside {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
    background: #5D5A58;
    color: hsl(0, 0%, 100%);
    cursor: default;
    overflow: hidden;
    transition: width .2s ease-in 0.5s;
}

aside.start-aside.close {
    width: 40px;
    background: #4C4A48;
    transition: width .2s ease-out 0s;
}

aside.start-aside.close:hover {
    width: 200px;
    background-color: #535251;
    box-shadow: 0.05rem 0 0 0 hsl(0 0% 0%);
    transition: all .2s ease-in 0.5s;
}

aside.start-aside .aside-toggle,
aside.start-aside .admin-toggle,
aside.start-aside .file-toggle,
aside.start-aside .image-toggle,
aside.start-aside .setting-toggle,
aside.start-aside .power-toggle {
    position: absolute;
    top: 2%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    height: 40px;
}

aside.start-aside .aside-toggle:hover,
aside.start-aside .admin-toggle:hover,
aside.start-aside .file-toggle:hover,
aside.start-aside .image-toggle:hover,
aside.start-aside .setting-toggle:hover,
aside.start-aside .power-toggle:hover {
    background: rgba(122, 117, 116, 0.3);
}

aside.start-aside i {
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
}

aside.start-aside .file-toggle i,
aside.start-aside .image-toggle i,
aside.start-aside .setting-toggle i,
aside.start-aside .power-toggle i {
    font-size: 1.25rem;
}

aside.start-aside.close .admin-toggle img {
    margin-left: -0.7rem;
}

aside.start-aside.close .aside-toggle i {
    margin-left: 0.1rem;
}

aside.start-aside.close .file-toggle i,
aside.start-aside.close .image-toggle i,
aside.start-aside.close .setting-toggle i,
aside.start-aside.close .power-toggle i {
    margin-left: 0.1rem;
}

aside.start-aside .aside-toggle span,
aside.start-aside .admin-toggle span,
aside.start-aside .file-toggle span,
aside.start-aside .image-toggle span,
aside.start-aside .setting-toggle span,
aside.start-aside .power-toggle span {
    font-size: 1.15rem;
    font-weight: 700;
    text-wrap: nowrap;
    margin-left: 0.5rem;
}

aside.start-aside .admin-toggle span,
aside.start-aside .file-toggle span,
aside.start-aside .image-toggle span,
aside.start-aside .setting-toggle span,
aside.start-aside .power-toggle span {
    font-weight: 400 !important;
}

aside.start-aside .admin-toggle span {
    margin-left: 0;
}

aside.start-aside.close:hover .aside-toggle span,
aside.start-aside.close:hover .admin-toggle span,
aside.start-aside.close:hover .file-toggle span,
aside.start-aside.close:hover .image-toggle span,
aside.start-aside.close:hover .setting-toggle span,
aside.start-aside.close:hover .power-toggle span {
    opacity: 1;
    visibility: visible;
    transition: opacity .2s ease-in 0.47s, visibility 0s ease-in 0.47s;
}

aside.start-aside.close .aside-toggle span,
aside.start-aside.close .admin-toggle span,
aside.start-aside.close .file-toggle span,
aside.start-aside.close .image-toggle span,
aside.start-aside.close .setting-toggle span,
aside.start-aside.close .power-toggle span {
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-out 0s, visibility 0s ease-out 0s;
}

aside.start-aside .admin-toggle img {
    padding: 0.75rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

aside.start-aside .admin-toggle {
    top: 16%;
    gap: 0;
}

aside.start-aside .file-toggle {
    top: 29%;
}

aside.start-aside .image-toggle {
    top: 43%;
}

aside.start-aside .setting-toggle {
    top: 58%;
}

aside.start-aside .power-toggle {
    top: 71%;
}

/* STYLES FOR DESKTOP START FUNCTIONALITY */

/* STYLES FOR DESKTOP */

/* STYLES FOR LOADER */

.wrapper {
    text-align: center;
}

.loader {
    position: absolute;
    top: 66%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation:
        0s linear 0s normal none infinite running;
    animation-name: rotate;
    opacity: 0;
    visibility: hidden;
}

.loading {
    animation: starting 6s alternate 7.8s;
}

.loader span::after {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    content: "";
    display: block;
    transform-origin: 25px 25px;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.pip-0::after {
    transform: rotate(0deg);
    animation-name: rotate-0;
    animation-delay: 900ms;
}

@keyframes rotate-0 {

    0%,
    20% {
        transform: rotate(0deg);
    }

    40%,
    60% {
        transform: rotate(180deg);
    }

    80%,
    100% {
        transform: rotate(360deg);
    }
}

.pip-1::after {
    transform: rotate(20deg);
    animation-name: rotate-1;
    animation-delay: 775ms;
}

@keyframes rotate-1 {

    0%,
    20% {
        transform: rotate(20deg);
    }

    40%,
    60% {
        transform: rotate(200deg);
    }

    80%,
    100% {
        transform: rotate(380deg);
    }
}

.pip-2::after {
    transform: rotate(40deg);
    animation-name: rotate-2;
    animation-delay: 650ms;
}

@keyframes rotate-2 {

    0%,
    20% {
        transform: rotate(40deg);
    }

    40%,
    60% {
        transform: rotate(220deg);
    }

    80%,
    100% {
        transform: rotate(400deg);
    }
}

.pip-3::after {
    transform: rotate(60deg);
    animation-name: rotate-3;
    animation-delay: 525ms;
}

@keyframes rotate-3 {

    0%,
    20% {
        transform: rotate(60deg);
    }

    40%,
    60% {
        transform: rotate(240deg);
    }

    80%,
    100% {
        transform: rotate(420deg);
    }
}

.pip-4::after {
    transform: rotate(80deg);
    animation-name: rotate-4;
    animation-delay: 400ms;
}

@keyframes rotate-4 {

    0%,
    20% {
        transform: rotate(80deg);
    }

    40%,
    60% {
        transform: rotate(260deg);
    }

    80%,
    100% {
        transform: rotate(440deg);
    }
}

.pip-5::after {
    transform: rotate(100deg);
    animation-name: rotate-5;
    animation-delay: 275ms;
}

@keyframes rotate-5 {

    0%,
    20% {
        transform: rotate(100deg);
    }

    40%,
    60% {
        transform: rotate(280deg);
    }

    80%,
    100% {
        transform: rotate(460deg);
    }
}

@keyframes opacity {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* STYLES FOR LOADER */

/* STYLES FOR LAPTOP */

.laptop {
    position: absolute;
    top: 7.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    perspective: 4000px;
    transform: translateY(0) rotateX(15deg) scale(1.5);
    box-shadow:
        0 0 0.5rem hsl(0 0% 0%),
        0 0 0.5rem hsl(0 0% 0%),
        0 0 0.5rem hsl(0 0% 0%),
        0 0 0.5rem hsl(0 0% 0%),
        0 0 0.5rem hsl(0 0% 0%);
    border-radius: 2rem 2rem 0.5rem 0.5rem;
    transform-origin: center center;
}

.laptop-screen {

    --laptop-screen-inside-background-image:
        linear-gradient(0deg, #000000 2em, transparent 2em),
        linear-gradient(90deg, #000000 2em, transparent 2em),
        linear-gradient(180deg, #000000 2em, transparent 2em),
        linear-gradient(270deg, #000000 2em, transparent 2em);

    --laptop-screen-front-background-image:
        linear-gradient(0deg, #181818 2em, transparent 2em),
        linear-gradient(90deg, #181818 2em, transparent 2em),
        linear-gradient(180deg, #181818 2em, transparent 2em),
        linear-gradient(270deg, #181818 2em, transparent 2em);

    position: relative;
    width: 35rem;
    height: 20rem;
    transform-style: preserve-3d;
    transition: var(--transition);
    cursor: default;
    pointer-events: all;
}

.laptop-screen::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: url('../assets/hp/hp-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4rem 9rem;
    border-radius: 2rem 2rem 0.5rem 0.5rem;
    transition: var(--transition);
    transition-delay: 0.3s;
    opacity: 0;
    visibility: hidden;
}

.laptop-screen::after {
    content: '';
    position: absolute;
    top: 38%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: url('../assets/keyboard-icons/windows.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 6rem;
    border-radius: 2rem 2rem 0.5rem 0.5rem;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
}

.laptop-screen.off {
    border-radius: 2rem 2rem 0.5rem 0.5rem;
    background: #000000;
    transition: background 1s ease-in-out;
}

.laptop-screen.off::after {
    opacity: 0;
    filter: blur(1.5px) contrast(100%);
    visibility: hidden;
    transition: all 0.6s ease-in-out;
    transition-delay: 0.3s;
}

.laptop-screen.open {
    background: #003366;
    border-radius: 2rem 2rem 0.5rem 0.5rem;
    transition: background 1s ease-in-out;
    transition-delay: 0.1s;
    animation: black-bg 1s ease-out 13.5s forwards;
}

@keyframes black-bg {
    100% {
        background: #000000;
    }
}

.laptop-screen.open::before {
    animation: starting 6s alternate 1.5s;
}

@keyframes starting {

    0%,
    100% {
        opacity: 0;
        visibility: hidden;
    }

    50% {
        opacity: 1;
        visibility: visible;
    }
}

.laptop-screen.open::after {
    /* opacity: 0; */
    /* filter: blur(1.5px) contrast(100%); */
    /* visibility: visible; */
    animation: starting 6s alternate 7.8s;
    /* transition: all 0.4s ease-in-out;
    transition-delay: 8s; */
}

.laptop-screen-front {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--laptop-screen-front-background-image);
    border-radius: 2rem 2rem 0.5rem 0.5rem;
    transform: translateZ(2em);
}

.laptop-screen-topIn,
.laptop-screen-topOut {
    position: absolute;
    height: 2em;
    background: var(--laptop-screen-inside-background-image);
    transform-origin: top;
    transform: rotateX(90deg);
}

.laptop-screen-topIn {
    bottom: 0;
    left: 2em;
    width: calc(100% - 4em);
}

.laptop-screen-topOut {
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.laptop-screen-bottomIn,
.laptop-screen-bottomOut {
    position: absolute;
    height: 2em;
    background: var(--laptop-screen-inside-background-image);
    transform-origin: bottom;
    transform: rotateX(-90deg);
}

.laptop-screen-bottomIn {
    top: 0;
    left: 2em;
    width: calc(100% - 4em);
}

.laptop-screen-bottomOut {
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.laptop-screen-leftIn,
.laptop-screen-leftOut {
    position: absolute;
    width: 2em;
    background: var(--laptop-screen-inside-background-image);
    transform-origin: left;
    transform: rotateY(-90deg);
}

.laptop-screen-leftIn {
    top: 2em;
    right: 0;
    height: calc(100% - 4em);
}

.laptop-screen-leftOut {
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
}

.laptop-screen-rightIn,
.laptop-screen-rightOut {
    position: absolute;
    width: 2em;
    background: var(--laptop-screen-inside-background-image);
    transform-origin: right;
    transform: rotateY(90deg);
}

.laptop-screen-rightIn {
    top: 2em;
    left: 0;
    height: calc(100% - 4em);
}

.laptop-screen-rightOut {
    top: 0;
    right: 0;
    height: 100%;
    opacity: 0;
}

.top-cameras {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(1rem);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2rem;
    gap: 3rem;
}

.top-camera-1,
.top-camera-2,
.top-camera-3,
.top-camera-4 {
    position: relative;
    width: 0.5rem;
    aspect-ratio: 1;
    background-color: hsl(0 0% 15%);
    box-shadow: 0 0 0 2px hsl(0 0% 5%);
    border-radius: 50%;
    transition: transform 200ms ease;
}

.top-camera-3 {
    width: 1.25rem;
    height: 1.25rem;
    margin-left: -1.5rem;
    background-color: hsl(0 0% 0%);
}

.top-camera-3::before,
.top-camera-3::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background-color: hsl(0 0% 10%);
    border-radius: 50%;
}

.top-camera-3::after {
    width: 30%;
    height: 30%;
    background-color: hsl(0 0% 5%);
}

.hp-logo {
    position: absolute;
    top: 102%;
    left: 59.5%;
    transform: translate(-50%, -50%) translateZ(1rem);
    width: 100px;
    height: 100px;
}

.hp-logo img {
    width: 1.7rem;
    height: 3.75rem;
}

.start-text {
    position: absolute;
    top: 85%;
    left: 30%;
    transform: translate(-50%, -50%) translateZ(1rem);
    width: 100%;
    height: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    opacity: 0;
    visibility: hidden;
}

.text-appear {
    animation: starting 6s alternate 1.5s;
}

.laptop-screen-locks-top,
.laptop-screen-locks-below,
.laptop-body {
    position: absolute;
    bottom: -3.5rem;
    left: 50%;
    transform: translate(-50%, 0) rotateX(40deg);
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17rem;
    z-index: 2;
}

.laptop-screen-locks-below {
    bottom: -6rem;
    transform: translate(-50%, 0) rotateX(-75deg);
}

.laptop-screen-lock-top {
    position: relative;
    width: 70px;
    height: 80px;
    background: hsl(0, 0%, 10.5%);
    /* box-shadow:
        5px 26px 0 5px hsl(0 0% 8%); */
}

.laptop-screen-lock-below {
    position: relative;
    width: 70px;
    height: 80px;
    background: hsl(0, 0%, 10.5%);
    /* box-shadow:
        5px 26px 0 5px hsl(0 0% 8%); */
}

.laptop-body {
    top: 100%;
    transform: translate(-50%, 0) rotateX(50deg) translateZ(2em);
    width: 36.5rem;
    height: 30rem;
    background: linear-gradient(90deg, #888888, #858585);
    box-shadow:
        0 0 0.5rem hsl(0 0% 40%),
        0 0 0.5rem hsl(0 0% 40%),
        0 0 0.5rem hsl(0 0% 40%),
        0 0 0.5rem hsl(0 0% 40%),
        0 0 0.5rem hsl(0 0% 40%);
    border-radius: 2rem;
    /* border-top: 40px solid hsl(0 0% 8%); */
    gap: 0;
    z-index: -1;
}

.laptop-body-top,
.laptop-body-top-border {
    position: absolute;
    top: 87%;
    left: 50%;
    transform-style: preserve-3d;
    transform: translateX(-50%) rotateX(88deg) scaleY(3);
    width: 94%;
    height: 10rem;
    background: #181818;
    border-radius: 7rem 7rem 0.5rem 0.5rem;
    z-index: -1;
}

.laptop-body-top-border {
    top: 112%;
    transform: translateX(-50%) translateZ(2em);
    width: 100%;
    height: 2rem;
    background: hsl(0 0% 8%);
    border-top: 4px solid #252525;
    border-radius: 4rem 4rem 0.5rem 0.5rem;
    z-index: 1;
}

.laptop-main-buttons {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18rem;
}

.laptop-main-buttons .button .icon {
    width: 1.75rem;
    height: 1.75rem;
}

.pressed {
    color: hsl(0 0% 100%);
    text-shadow: 0 0 1rem hsl(0 0% 100%);
    transition: all .2s ease-in-out;
}

.laptop-main-buttons .button {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 6rem;
    height: 2.5rem;
    background: linear-gradient(90deg, #909090, #909090);
    box-shadow: 0 0 0 2px hsl(0 0% 40%);
    border-radius: 10px;
    transition: transform 200ms ease;
    cursor: pointer;
}

.buttons-right {
    display: flex;
    gap: 0.5rem;
}

.buttons-right .button {
    width: 2rem;
}

.buttons-right .button .icon {
    padding-left: 0.25rem;
}

.laptop-top-dots {
    position: absolute;
    top: 11%;
    left: 52.3%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    height: 5rem;
    background: transparent;
    transition: transform 200ms ease;
}

.laptop-top-dots .dot {
    color: hsl(0 0% 30%);
    margin-top: -1rem;
}

.laptop-mouse-pad {
    position: absolute;
    top: 83.5%;
    left: 45%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 7rem;
    /* background: hsl(0, 0%, 12%); */
    border: 3px solid hsl(0 0% 60%);
    background: linear-gradient(90deg, #757575, #707070);
    box-shadow:
        inset 3px 3px 1px hsl(0 0% 40%),
        inset -3px -3px 1px hsl(0 0% 40%);
    border-radius: 1rem;
    cursor: pointer;
}

.laptop-mouse-pad-button {
    position: relative;
    top: 50%;
    left: 24%;
    transform: translate(-50%, -50%) translateZ(0.2rem);
    width: 4.7rem;
    height: 2rem;
    background: linear-gradient(90deg, #909090, #909090);
    box-shadow: inset 0 3px 1px hsl(0 0% 40%);
    border-bottom-left-radius: 0.5rem;
    transition: transform 200ms ease, box-shadow 200ms ease;
}

.laptop-mouse-pad-button:nth-child(2) {
    box-shadow: inset 3px 3px 1px hsl(0 0% 40%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0.5rem;
}

.laptop-mouse-pad-button:hover {
    transform: translate(-50%, -50%) translateZ(0.1rem) scale(1);
    box-shadow: inset 0 3px 1px hsl(0 0% 20%);
}

.laptop-model {
    position: absolute;
    top: 70%;
    left: 10%;
    color: hsl(0 0% 10%);
}

.laptop-model-information {
    position: absolute;
    top: 73%;
    right: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
    width: 4rem;
    height: 5rem;
    background: hsl(0 0% 100%);
    border: 4px solid hsl(0 0% 40%);
    color: #005085;
}

.laptop-model-information .company {
    position: relative;
    margin-top: 0.2rem;
}

.laptop-model-information .model {
    font-weight: 600;
    font-size: 0.6rem;
    padding-top: 0.5rem;
}

.laptop-model-information .company::before,
.laptop-model-information .company::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 1.5rem;
    border-top: 3px solid #0077C8;
    border-right: 3px solid #0077C8;
    border-radius: 50%;
}

.laptop-model-information .company::after {
    top: 70%;
    left: 30%;
    border-top: 0;
    border-right: 0;
    border-left: 3px solid #0077C8;
    border-bottom: 3px solid #0077C8;
}

.button-bottom {
    position: absolute;
    top: 73.1%;
    right: 10%;
    width: 2.5rem;
    height: 0.75rem;
    background: linear-gradient(90deg, #909090, #909090);
    box-shadow: 0 0 0 1px hsl(0 0% 20%);
    transition: transform 200ms ease;
}

/* STYLES FOR LAPTOP */

/* STYLES FOR KEYBOARD */

.keyboard {
    position: absolute;
    top: 50%;
    left: 50%;
    perspective: 5000px;
    transform-style: preserve-3d;
    /* transform: translate(-50%, -50%) rotateX(50deg) scale(0.5); */
    transform: translate(-50%, -50%) scale(0.47);
    display: grid;
    grid-template-columns: repeat(38, 1fr);
    grid-gap: 8px;
    /* width: 425px; */
    /* height: 150px; */
    background: hsl(0 0% 10%);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 0 20px #626262;
    cursor: pointer;
}

.key {
    position: relative;
    transition: transform 200ms ease, box-shadow 200ms ease, background 200ms ease;
    background: hsl(0 0% 18%);
    color: #fff;
    line-height: 2;
    border-radius: 5px;
    font-size: 12px;
    /* padding: 0.5rem; */
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 0.6rem;
    box-shadow: 3px 3px 0 #484d53,
        inset -6px -6px 10px #131313;
}

.key:not(.key.pl, .key.el) {
    height: 2.5rem;
}

.key:hover {
    background: hsl(0 0% 18%);
    /* transform: translateZ(1rem); */
    box-shadow: 1px 1px 0 #49535a,
        inset -1px -1px 5px rgba(0, 0, 0, 0.6),
        2px 2px 10px rgba(34, 34, 34, 0.6);
}

.key.esc {
    border-top-left-radius: 0.75rem;
}

.key.dn {
    border-top-right-radius: 0.75rem;
}

.key.ctrl-1,
.key.insert {
    border-bottom-left-radius: 0.75rem;
}

.key.ctrl-2 {
    border: 0;
}

.key.arrow-right {
    border-bottom-right-radius: 0.75rem;
}

.key.esc,
.key.f,
.key.bc,
.key.c,
.key.h,
.key.pe,
.key.n,
.key.s,
.key.st,
.key.m,
.key.abc,
.key.co,
.key.cc,
.key.dc,
.key.sq,
.key.lt,
.key.gt,
.key.q,
.key.ctrl-1,
.key.ctrl-2,
.key.fn,
.key.dn,
.key.window,
.key.alt,
.key.dot,
.key.arrow-left,
.key.arrow-right {
    grid-column: span 2;
    width: 3rem;
}


.key.backspace {
    grid-column: span 4;
}

.key.pi,
.key.tab {
    grid-column: span 3;
}

.key.capslock {
    grid-column: span 4;
}

.capslock-light {
    position: absolute;
    top: 45%;
    right: 5%;
    width: 0.35rem;
    aspect-ratio: 1;
    background: transparent;
    box-shadow: none;
    border-radius: 50%;
    transition: all 0s ease-out;
}

.capslock-light-on {
    background: #fff;
    box-shadow: 0 0 5px hsl(0 0% 100%);
    transition: all 0s ease-in;
}

.key.pl,
.key.el {
    display: flex;
    justify-content: left;
    align-items: center;
    grid-column: span 2;
    grid-row: span 2;
}

.key.enter,
.key.insert {
    grid-column: span 4;
}

.key.shift {
    grid-column: span 5;
}

.key.shift-2 {
    grid-column: span 5;
}

.key:nth-child(n+2):nth-child(-n+13)::before {
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    font-size: 9px;
}

.key:nth-child(2)::before {
    content: "1";
}

.key:nth-child(3)::before {
    content: "2";
}

.key:nth-child(4)::before {
    content: "3";
}

.key:nth-child(5)::before {
    content: "4";
}

.key:nth-child(6)::before {
    content: "5";
}

.key:nth-child(7)::before {
    content: "6";
}

.key:nth-child(8)::before {
    content: "7";
}

.key:nth-child(9)::before {
    content: "8";
}

.key:nth-child(10)::before {
    content: "9";
}

.key:nth-child(9) .key-volume {
    font-size: 1.15rem;
}

.key:nth-child(9) .key-volume,
.key:nth-child(10) .key-volume {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    width: 1rem;
    border: 1px solid hsl(0 0% 100%);
    border-radius: 5px;
    margin-left: 0.5rem;
}

.key:nth-child(11)::before {
    content: "10";
}

.key:nth-child(12)::before {
    content: "11";
}

.key:nth-child(13)::before {
    content: "12";
}

.key.bc::after,
.key.fn::after {
    content: ".";
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
}

.key.bc::after {
    top: 45%;
}

/* .key:nth-child(14)::after {
    content: '';
    left: 60%;
    border: 1px solid #fff;
    border-radius: 5px;
}

.key:nth-child(14)::before {
    content: "prt sc";
    top: 75%;
    left: 82%;
    font-size: 7px;
    width: 100%;
} */

.key:nth-child(14)::after {
    top: 75%;
    left: 50%;
    width: 2rem;
    height: 0.5rem;
}

.key.fn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

.key.fn::after {
    content: '';
    top: 50%;
    left: 50%;
    border: 1px solid #fff;
    border-radius: 5px;
}

.key.window {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

.key.window img {
    width: 1.5rem;
    aspect-ratio: 1;
}

.key.spacebar {
    grid-column: span 11;
}

.space {
    margin-left: 0.25rem;
}

.arrow-up-down {
    display: grid;
    grid-gap: 2px;
    grid-column: span 3;
}

.arrow-up-down .key.arrow-up,
.arrow-up-down .key.arrow-down {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.2rem;
    padding-top: 0;
}

.key.arrow-left,
.key.arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-up-down .key.arrow-down::before {
    content: '';
}

/* STYLES FOR KEYBOARD */